* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

textarea {
  width: 576px;
  height: 300px;
  padding: 10px;
  border-width: 2px;
}
